.MyPlants{
    height: 100%;
    width: 100%;
}

.TopSection{
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--background-color-faded);
    border-radius: 50px;
    align-items: center;
    padding: 10px 20px;
}

.MyPlantsSection{
    padding: 30px 200px;
    background-color: var(--darker-secondary-color);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.TopSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AddPlantsContainer button{
    height: 50px;
    padding: 0 20px;
    border-radius: 50px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border: none;
}

.AddPlantsContainer button:hover{
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: 1px solid var(--background-color);
}